{% extends "base.html" %}

{% block title %}
    <title>دارایی ها</title>
{% endblock %}


{% block h1 %}
    <h1> - دارایی ها </h1>
{% endblock %}}

{% block table %}
        <tr>
            <td>شرکت</td>
            <td>جمع دارایی های جاری</td>
            <td>جمع دارایی های غیرجاری</td>
            <td>تاریخ انتشار</td>
            <td>بازه زمانی</td>
        </tr>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.company.name }}</td>
                <td>{{ asset.sumOfCurrentAssets }}</td>
                <td>{{ asset.sumOfNonCurrentAssets }}</td>
                <td>{{ asset.publicDate }}</td>
                <td>{{ asset.timePeriod.timePeriod}}</td>
            </tr>
        {% endfor %}

{% endblock %}
