<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assets in database</title>
</head>
<body>
    <table border="1">
        <tr>
            <td><h3>Company Name</h3></td>
            <td><h3>Sum of current assets</h3></td>
            <td><h3>Sum of non-current assets</h3></td>
            <td><h3>Time period</h3></td>
            <td><h3>Pulication Date</h3></td>
        </tr>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.company.name }}</td>
                <td>{{ asset.sumOfCurrentAssets }}</td>
                <td>{{ asset.sumOfNonCurrentAssets }}</td>
                <td>{{ asset.timePeriod }}</td>
                <td>{{ asset.publicDate }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>