{% extends "base.html" %}
{% block title %}
    <title>سود (زیان) پایه هر سهم</title>
{% endblock %}

{% block h1 %}
    <h1> - صورت سود و زیان : سود (زیان) پایه هر سهم </h1>
{% endblock %}}

        <tr>
            <td>شرکت</td>
            <td>سود (زیان) پایه هر سهم ناشی از عملیات در حال تداوم- عملیاتی</td>
            <td>سود (زیان) پایه هر سهم ناشی از عملیات در حال تداوم- غیرعملیاتی</td>
            <td>سود (زیان) پایه هر سهم ناشی از عملیات متوقف‌ شده</td>
            <td>تاریخ انتشار</td>
            <td>بازه زمانی</td>
        </tr>
        {% for basicEariningsLossPerShare in basicEarningsLossPerShares %}
            <tr>
                <td>{{ basicEariningsLossPerShare.company.name }}</td>
                <td>{{ basicEariningsLossPerShare.basicEarningsOrLossPerShareFromContinuingOperationsOperating }}</td>
                <td>{{ basicEariningsLossPerShare.basicEarningsOrLossPerShareFromContinuingOperationsNonOperating }}</td>
                <td>{{ basicEariningsLossPerShare.basicEarningsOrLossPerShareFromDiscontinuingOperations }}</td>
                <td>{{ basicEariningsLossPerShare.publicDate}}</td>
                <td>{{ basicEariningsLossPerShare.timePeriod.timePeriod }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>