<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cash Flows from used</title>
</head>
<body>
 <table border="1">
        <tr>
            <td><h3>Company Name</h3></td>
            <td><h3>Time period</h3></td>
            <td><h3>Cash at beginning of period</h3></td>
            <td><h3>Effect of exchange rate changes on cash</h3></td>
            <td><h3>Non cash transactions</h3></td>
            <td><h3>Payments for purchase of treasury shares</h3></td>
            <td><h3>Proceeds from borrowings classified as financing activities</h3></td>
            <td><h3>Proceeds from issuing shares </h3></td>
            <td><h3>Proceeds from sales or issue of treasury shares</h3></td>
            <td><h3>Repayments of borrowings classified as financing activities</h3></td>
            <td><h3>Pulication Date</h3></td>
        </tr>
        {% for cashFlowsFromUsedInFinancingActivitie in cashFlowsFromUsedInFinancingActivities %}
            <tr>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.company.name }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.timePeriod.timePeriod }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.cashAtBeginningOfPeriod }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.effectOfExchangeRateChangesOnCash }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.NonCashTransactions }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.paymentsForPurchaseOfTreasuryShares }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.proceedsFromBorrowingsClassifiedAsFinancingActivities }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.proceedsFromIssuingShares }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.proceedsFromSalesOrIssueOfTreasuryShares }}</td>
                <td>{{ cashFlowsFromUsedInFinancingActivitie.repaymentsOfBorrowingsClassifiedAsFinancingActivities }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>