{% extends "base.html" %}

{% block title %}
    <title>جریان وجوه نقد</title>
{% endblock %}


{% block h1 %}
    <h1> - جریان وجوه نقد </h1>
{% endblock %}}
{% block table %}

    <tr>
        <td>شرکت</td>
        <td>جریان خالص ورود (خروج) وجه نقد ناشی از فعالیت‌های عملیاتی </td>
        <td>جریان خالص ورود (خروج) وجه نقد ناشی از بازده سرمایه‌گذاری‌ها و سود پرداختی بابت تأمین مالی</td>
        <td>مالیات بر درآمد پرداختی</td>
        <td>جریان خالص ورود (خروج) وجه نقد ناشی از فعالیت‌های سرمایه‌گذاری</td>
        <td>جریان خالص ورود (خروج) وجه نقد قبل از فعالیت‌های تأمین مالی</td>
        <td>جریان خالص ورود (خروج) وجه نقد ناشی از فعالیت‌های تأمین مالی </td>
        <td>خالص افزایش (کاهش) در موجودی نقد</td>
        <td>موجودی نقد در پایان دوره</td>
        <td>تاریخ انتشار</td>
        <td>بازه زمانی</td>
    </tr>
    {% for cashFlow in cashFlows %}
        <tr>
            <td>{{ cashFlow.company.name }}</td>
            <td>{{ cashFlow.netCashFlowsFromUsedInOperatingActivities }}</td>
            <td>{{ cashFlow.netCashFlowsFromUsedInInvestmentReturnsAndPaymentsOnFinancingCosts }}</td>
            <td>{{ cashFlow.incomeTaxesPaid }}</td>
            <td>{{ cashFlow.netCashFlowsFromUsedInInvestingActivities }}</td>
            <td>{{ cashFlow.netCashFlowsFromUsedInBeforeFinancingActivities }}</td>
            <td>{{ cashFlow.netCashFlowsFromUsedInFinancingActivities }}</td>
            <td>{{ cashFlow.netIncreaseDecreaseInCash }}</td>
            <td>{{ cashFlow.cashAtEndOfPeriod }}</td>
            <td>{{ cashFlow.publicDate }}</td>
            <td>{{ cashFlow.timePeriod.timePeriod }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
