{% extends "base.html" %}

{% block title %}
    <title> دارایی های جاری</title>
{% endblock %}


{% block h1 %}
    <h1> -ترازنامه: دارایی های جاری </h1>
{% endblock %}}


{% block table %}
        <tr>
            <td>شرکت</td>
            <td>موجودی نقد</td>
            <td>سرمایه‌گذاری‌‌های کوتاه مدت</td>
            <td>دریافتنی‌‌های تجاری</td>
            <td>دریافتنی‌‌های غیرتجاری</td>
            <td>موجودی مواد و کالا</td>
            <td>پیش پرداخت‌ها و سفارشات</td>
            <td>دارایی‌های نگهداری شده برای فروش</td>
            <td>تاریخ انتشار</td>
            <td>بازه زمانی</td>
        </tr>
        {% for current in currentAssets %}
            <tr>
                <td>{{ current.company.name }}</td>
                <td>{{ current.cash }}</td>
                <td>{{ current.shortTermInvestments }}</td>
                <td>{{ current.commercialInputs }}</td>
                <td>{{ current.noncommercialInputs }}</td>
                <td>{{ current.inventory }}</td>
                <td>{{ current.prepaidExpenses }}</td>
                <td>{{ current.salableAssets }}</td>
                <td>{{ asset.publicDate }}</td>
                <td>{{ asset.timePeriod.timePeriod}}</td>
            </tr>
        {% endfor %}

{% endblock %}