{% extends "base.html" %}

{% block title %}

{% endblock %}


{% block h1 %}

{% endblock %}}

{% block table1 %}
    <h3> جدول اطلاعات و صورت های مالی های موجود</h3>
        <tr>
            <td>نام شرکت</td>
            <td>نوع حسابرسی</td>
            <td>نوع تلفیقی</td>
            <td>منتهی به</td>
            <td>بازه</td>
        </tr>
        {% for finan in financialStatementsLists %}
            <tr>
                <td>{{ finan.companyName }}</td>
                <td>{{ finan.type_audit }}</td>
                <td>{{ finan.type_consolidated }}</td>
                <td>{{ finan.endTo }}</td>
                <td>{{ finan.type_date }} ماهه </td>
            </tr>
        {% endfor %}

{% endblock %}





{% block table2 %}
    <h3> جدول اطلاعات و صورت های مالی های موجود</h3>
        <tr>
            <td>نام شرکت</td>
            <td>نوع حسابرسی</td>
            <td>نوع تلفیقی</td>
            <td>منتهی به</td>
            <td>بازه</td>
        </tr>
        {% for finan in financialStatementsLists %}
            <tr>
                <td>{{ finan.companyName }}</td>
                <td>{{ finan.type_audit }}</td>
                <td>{{ finan.type_consolidated }}</td>
                <td>{{ finan.endTo }}</td>
                <td>{{ finan.type_date }} ماهه </td>
            </tr>
        {% endfor %}

{% endblock %}